@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
  font-family: 'Open Sans';
  box-sizing: border-box;
}

.App {
  min-width: 450px;
}

button {
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}

/* header */

.header {
  height: 100px;
  margin-bottom: 75px;
  background-color: #ab2a19;
  color: white;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.header-buttons{
  display: flex;
  width: 280px;
  justify-content: space-between;
  align-items:center;
  margin-left: 75px;
}

.header img {
  height: 50px;
  width: 50px;
  margin-left: 100px;
  margin-right: 25px;
}

.header button {
  background-color: #ed6b5a;
}

/* product */

.product {
  background-color: #d34735;
  width: 600px;
  position: relative;
  padding: 15px;
  margin:  20px auto;
  border-radius: 10px;
}

.product img {
  width: 320px;
  height: 200px;
}

.product-info {
  height: 50px;
  position: absolute;
  top: 5px;
  left: 350px;
  display: flex;
  flex-direction: column;
}

.product-title,
.product-price {
  margin: 0px;
}

.product-title {
  font-size: 24px;
}

.product-price {
  font-size: 20px;
}

.product-buttons {
  position: absolute;
  bottom: 15px;
  left: 350px;
  right: 15px;
  display: flex;
  justify-content: space-between;
}

.product-buttons button {
  background-color: #3ad886;
}

/* form */

.form {
  height: 520px;
  width: 450px;
  padding: 15px;
  margin: 10px auto;
  border-radius: 10px;
  background-color: #3ad886;

  display: flex;
  flex-direction: column;
  
}

.form img {
  width: 320px;
  height: 200px;
  align-self: center;
}

.form-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.form-buttons button {
  background-color: #ed6b5a;
  margin: 5px;
}

@media (max-width: 830px) {
  .product {
    width: 450px;
    display: flex;
    flex-direction: column;
  }
  .product img {
    align-self: center;
  }
  .product-info {
    flex-direction: row;
    justify-content: space-between;
    position: static;
  }
  .product-buttons {
    flex-direction: row;
    position: static;
  }
}

@media (max-width: 650px) {
  .header-buttons {
    height: 65px;
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    justify-content: space-between;
    align-items: flex-start;
  }
  .header-buttons button {
    font-size: 16px;
    padding: 3px 10px;
    width: 125px;
  }
}

@media(max-width: 500px) {
  .product {
    width: 350px;
  }
}

